/** Bug **/
.ghx-type-1 .ghx-grabber {
    background-color: #FF3535 !important;
}

/** Epic **/
.ghx-type-9 .ghx-grabber {
    background-color: #99CCFF !important;
}

/** Impediment **/
.ghx-type-8 .ghx-grabber {
    background-color: #FF9900 !important;
}

/** Mantis Bug **/
.ghx-type-6 .ghx-grabber {
    background-color: #FF3535 !important;
}

/** Question **/
.ghx-type-5 .ghx-grabber {
    background-color: #FFCCFF !important;
}

/** Technical Debt **/
.ghx-type-10 .ghx-grabber {
    background-color: #111 !important;
}

/** Task **/
.ghx-type-3 .ghx-grabber {
    background-color: #FFFF33 !important;
}

/** Features **/
.ghx-type-2 .ghx-grabber {
    background-color: #6BFF6C !important;
}

/** Bug **/
.ghx-type-7 .ghx-grabber {
    background-color: #FF3535 !important;
}

/** Subtask **/
.ghx-type-4 .ghx-grabber {
    background-color: #C8C8C8 !important;
}


